---
pagination:
  data: diputados
  size: 1
  alias: diputado
  addAllPagesToCollections: true
permalink: "{{ diputado['Bloque al que representa'] | slug }}/{{ diputado['Nombre'] | slug }}/index.html"
tags:
  - diputado
---
{% extends "src/base.njk" %}

{% block head %}
<title>
	{{diputado['Nombre']}} | Monitor Legislativo
</title>
{% endblock %}

{% block content %}
<section class="px-2" style="background-color: #F0F7FC!important;">
    <div class="container clearfix">
        <div class="row py-6">
			<div class="col-lg-12 my-4">
				<span class="breadcrumb_v2">
					<a href="/congreso_datos/index.html">Congreso en Datos</a> 
					<p>/</p>
					<a href="#" style="pointer-events: none;"> {{ diputado['Nombre'] }} </a>
				</span>
			</div>
			<div class="col-lg-12 my-4">
				<div class="cuadro_perfil_diputado">
					<div class="row">
						<div class="col-lg-4">
							<img style="width: 100%; height: 100%;" src="{{diputado['ImagenGithub']}}">
						</div>
						<div class="col-lg-8">
							<div class="info_personal">
								<h1>{{ diputado['Nombre'] }}</h1>
								<h2>{{ diputado['Bloque al que representa'] }}</h2>
								<hr style="margin: 10px 0;">
								<p class="mb-1"><b>Distrito al que representa:</b> {{ diputado['Distrito al que representa:'] }}</p>
								<p class="mb-1"><b>Fecha de nacimiento:</b> {{ diputado['Fecha de nacimiento:'] }}</p>
								<p class="mb-1"><b>E-mail:</b> {{ diputado['E-mail:'] }}</p>
								<p class="mb-1"><b>Teléfono de la oficina:</b> {{ diputado['Teléfono de la oficina:'] }}</p>
								<p class="mb-1"><b>Dirección de la oficina:</b> {{ diputado['Dirección de la oficina:'] }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-12 my-4">
				<div class="cuadro_perfil_diputado">
					{% set filteredPreguntas = collections.preguntas | filterByDiputado(diputado['Nombre']) %}
					<div class="row">
						<div class="col-lg-12">
							<div class="titulo-preguntas-relevantes">
								<img src="/assets/img/monitor/01_ICONOS/01.png">
								<h1>Preguntas relevantes donde este representante ha votado</h1>
							</div>
							<div class="preguntas_relevantes">
								

								{% set filteredPregunta1 = filteredPreguntas | filterByPreguntaName('APROBACIÓN DE LA REDACCIÓN FINAL DEL PROYECTO DE DECRETO QUE DISPONE APROBAR LA INICIATIVA DE LEY 6388') %}
								{% for pregunta in filteredPregunta1 %}
								<div class="pregunta">
									<p>{{ pregunta.sesion.nombreSesion }} -- {{ pregunta.sesion.fechaFormateada }}</p>
									
									{% set matchingPreguntas = collections.pregunta | findPreguntaByName(pregunta['Nombre de Pregunta']) %}

									{% for preg in matchingPreguntas %}
									<a href="{{ preg.url }}" class="pregunta-relevante-link">
										<h2>{{ preg.data.pregunta['Nombre de Pregunta'] }}</h2>
									</a>
									{% endfor %}

									{% set votosDiputado = pregunta.votos | filterVotosByDiputado(diputado['Nombre']) %}

									{% if votosDiputado.length > 0 %}
									<p><strong>Voto del Diputado:</strong> {{ votosDiputado[0].votoEmitido }}</p>
									{% else %}
									<p>Este diputado no emitió un voto en esta pregunta.</p>
									{% endif %}
								</div>
								{% endfor %}

								{% set filteredPregunta2 = filteredPreguntas | filterByPreguntaName('APROBACIÓN DE LA REDACCIÓN FINAL DEL PROYECTO DE DECRETO QUE DISPONE APROBAR LA INICIATIVA DE LEY 5545') %}
								{% for pregunta in filteredPregunta2 %}
								<div class="pregunta">
									<p>{{ pregunta.sesion.nombreSesion }} -- {{ pregunta.sesion.fechaFormateada }}</p>
									
									{% set matchingPreguntas = collections.pregunta | findPreguntaByName(pregunta['Nombre de Pregunta']) %}

									{% for preg in matchingPreguntas %}
									<a href="{{ preg.url }}" class="pregunta-relevante-link">
										<h2>{{ preg.data.pregunta['Nombre de Pregunta'] }}</h2>
									</a>
									{% endfor %}

									{% set votosDiputado = pregunta.votos | filterVotosByDiputado(diputado['Nombre']) %}

									{% if votosDiputado.length > 0 %}
									<p><strong>Voto del Diputado:</strong> {{ votosDiputado[0].votoEmitido }}</p>
									{% else %}
									<p>Este diputado no emitió un voto en esta pregunta.</p>
									{% endif %}
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</section>
{% endblock %}