---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Monitor Legislativo | Red Ciudadana</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element px-2">
			<div class="container" style="padding: 20px 0;">
				<div class="h-100-res" style="display: flex; justify-content: center; align-items: center;">
                    <div class="pt-4">
                        <img src="/assets/img/monitor/02_LOGOS/ML.png">
                    </div>
                   
                </div>
			</div>
        </section>

        <!-- Lineas de Accion
        ============================================= -->

        <section class="px-2" style="background-color: #fff;">
            <div class="container clearfix ">
                <div class="row py-6">

                    <div class="col-lg-4 my-2">
                        <a href="/parlamento_abierto/index.html">
                            <div class="cuadros_accion">
                                <img style="width: 200px; height: auto;" src="/assets/img/monitor/01_ICONOS/ML-09.png">
                                <h2>Parlamento Abierto</h2>
                                <p>Lorem Ipsum Dolor sit amet consectetur dolores sit, Lorem Ipsum Dolor sit amet</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 my-2">
                        <a href="/congreso_datos/index.html">
                            <div class="cuadros_accion">
                                <img style="width: 200px; height: auto;" src="/assets/img/monitor/01_ICONOS/ML-10.png">
                                <h2>Congreso en Datos</h2>
                                <p>Lorem Ipsum Dolor sit amet consectetur dolores sit, Lorem Ipsum Dolor sit amet</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 my-2">
                        <a href="/analisis_legislativo/index.html">
                            <div class="cuadros_accion">
                                <img style="width: 200px; height: auto;" src="/assets/img/monitor/01_ICONOS/ML-11.png">
                                <h2>Análisis Legislativo</h2>
                                <p>Lorem Ipsum Dolor sit amet consectetur dolores sit, Lorem Ipsum Dolor sit amet</p>
                            </div>
                        </a>
                    </div> 

                </div>
            </div>
        </section>


        <!-- Recursos
        ============================================= -->

        <section class="px-2" style="background-color: #e9f0f8;">
            <div class="container clearfix ">
                <div class="row py-6">
                    
                    <div class="col-lg-12 text-center mb-4">

                        <h1 class="text-titles">Recursos</h1>

                        <!-- <a href="#" class="btn">Ir a productos <i class="fa-solid fa-right-long"></i></a> -->
                    </div>

                    {% for recurso in collections.recursos%}
                    <div class="col-lg-4 my-2">
                        <div class="cuadro_recurso">
                            <img class="w-100" src="{{recurso.data.image}}">
                            <div style="padding: 30px;">
                                <h1>{{recurso.data.title}}</h1>
                                <p>{{recurso.data.description}}</p>
                                <a href="" class="btn">Descargar <i class="fa-solid fa-download"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>

        <!-- Videos
        ============================================= -->

        <section class="px-2">
            <div class="container clearfix ">
                <div class="row py-6">

                    {% for video in collections.videos | limit(2) | reverse %}
                    
                    <div class="col-lg-6 text-center my-2">
                        <iframe width="560" height="315" src="{{video.data.link | safe}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    {% endfor %}




                </div>
            </div>
        </section>

{% endblock %}

{% block body_javascripts %}

{% endblock %}