---
permalink: "quees/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Monitor Legislativo | Red Ciudadana</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element px-2">
			<div class="container" style="padding: 20px 0;">
				<div class="h-100-res" style="display: flex; justify-content: center; align-items: center;">
                    <div class="pt-4">
                        <img src="/assets/img/monitor/02_LOGOS/ML.png">
                    </div>
                   
                </div>
			</div>
        </section>

        <!-- Lineas de Accion
        ============================================= -->

        <section class="px-2" style="background-color: #fff;">
            <div class="container clearfix ">
                <div class="row py-6">

                    <div class="col-lg-6 my-2">
                        <a href="/parlamento_abierto/index.html">
                            <div class="">
                                <img style="width: 200px; height: auto;" src="/assets/img/monitor/01_ICONOS/ML-09.png">
                                <h2>¿Qué es Monitor Legislativo?</h2>
                                <p>Lorem Ipsum Dolor sit amet consectetur dolores sit, Lorem Ipsum Dolor sit amet</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-6 my-2">
                        
                    </div>

                </div>
            </div>
        </section>



{% endblock %}

{% block body_javascripts %}

{% endblock %}