---
pagination:
  data: collections.sesiones
  size: 1
  alias: sesion
  addAllPagesToCollections: true
permalink: "sesiones/{{ sesion.nombreSesion | slug }}/index.html"
tags:
  - sesion
---

{% extends "src/base.njk" %}

{% block head %}
<title>{{ sesion.nombreSesion }} | Monitor Legislativo</title>
{% endblock %}

{% block content %}


<!-- Slider
============================================= -->
<section id="slider" class="bg-color">
    <div class="container">
        <div class="row d-flex py-2 justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12 d-flex align-self-center flex-column text-center py-6">
                <img src="/assets/img/monitor/01_ICONOS/ML-12.png" style="width: 150px; height: auto;" class="m-auto mb-2">
                <h2 class="mb-2 text-white" style="font-size:40px!important">{{ sesion.nombreSesion }}</h2>
                <p class="text-white" style="font-size:20px!important; font-weight: 400;">
                    {{ sesion.fechaSesionFormateada }}
                </p>

            </div>
        </div>
    </div>
</section>

<section class="px-2">
    <div class="container clearfix ">
        <div class="row py-6">
            <div class="col-lg-12 my-4">
                <span class="breadcrumb_v2">
                    <a href="/analisis_legislativo/index.html">Análisis Legislativo</a> 
                    <p>/</p>
                    <a href="#" style="pointer-events: none;">{{ sesion.nombreSesion }}</a>
                </span>
            </div>
            <div class="col-lg-12 my-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="bg-primary text-white">
                                    <tr>
                                        <th>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <p>Número de Pregunta</p>
                                            </div>
                                        </th>
                                        <th >
                                            <div class="d-flex justify-content-center align-items-center">
                                                <p>Nombre de Pregunta</p>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <img src="/assets/img/monitor/01_ICONOS/01.png">
                                                <p>Votaciones</p>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pregunta in sesion.preguntas %}
                                    <tr>
                                        <td class="text-center align-middle" data-label="No. de Pregunta">Pregunta {{ pregunta['Número de Pregunta'] }}</td>
                                        <td class="text-center align-middle limitid-width" data-label="Nombre de la Pregunta">{{ pregunta['Nombre de Pregunta'] }}</td>
                                        <td class="text-center align-middle" data-label="Votaciones">
                                            {% set preguntaPage = pregunta.id | findPreguntaPage(collections.pregunta) %}
                                            {% if preguntaPage %}
                                                <a class="btn" href="{{ preguntaPage.url }}">Ver Votaciones</a>
                                            {% else %}
                                                <!-- Manejar el caso donde no se encontró la página de la pregunta -->
                                                <p>Página no encontrada</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
